* {
  box-sizing: border-box;
  user-select: none;
}
a {
  text-decoration: none
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: darkgray;
  font-family: sans-serif;
  /* padding: 1rem; */
}
.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
.full-screen-center {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-end;
}

.control,
.train-feedback {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

video {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  background-size: cover;
  object-fit: cover;
}

.quote-input,
.quote-detection {
  font-size: 20px;
  width: 80%;
  padding: 10px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  color: yellow;
  text-shadow: 0px 1px 0 #000, 0px -1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.control,
.train-feedback {
  position: absolute;
}

.train-feedback {
  transition: top ease 0.5s;
  background-color: lightgreen;
  top: 100%;
  opacity: 0.3;
}
.instagram-link {
  background-color: black;
  margin-bottom: 50px;
  border-radius: 0 0 10px 10px;
  padding: 10px 5px;
  text-align: center;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
}

.quote-detection {
  margin-bottom: 200px;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity ease 0.4s, transform ease 0.4s;
}

.quote-detection.show {
  opacity: 1;
  transform: translateY(0);
}

.onboarding {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  font-size: 10px;
}
